a {
  text-decoration: none;
}
p {
  font-family: Roboto, Helvetica, Arial;
  font-size: 14px;
  color: #9aa2a5;
}
ul {
  list-style: none;
  padding-left: 0;
}
img {
  padding: 0;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-card {
  margin-top: 60px;
  margin-bottom: 10px;
  width: 700px;
  font-family: Roboto, Helvetica, Arial;
  color: #2b4353;
  background-color: #9cd3d3;
  box-shadow: 3px 3px 3px rgba(43, 67, 83, 0.4);
}
.btn-search {
  background-color: #2b4353;
  box-shadow: 2px 2px 2px rgba(43, 67, 83, 0.3);
  font-weight: 400;
  color: #c3ced2;
}
.btn-search:hover,
.btn-search:focus {
  background-color: rgba(43, 67, 83, 0.9);
  color: #c3ced2;
}
.placeholder-background {
  background-color: rgba(254, 254, 213, 0.6);
}
.placeholder-background:focus {
  background-color: rgba(254, 254, 213, 0.6);
  border-color: #155263;
}
.main-part {
  padding: 15px;
}
.current-weather {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
}
.current-temperature {
  font-weight: 700;
  font-size: 34px;
}
.form-control:focus,
.btn:focus {
  box-shadow: none;
}
.pin-button {
  padding-left: 0;
}
.city {
  font-size: 30px;
}
.date {
  font-size: 16px;
}
.forecast {
  background-color: rgba(254, 254, 213, 0.6);
  border-radius: 7px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px rgba(43, 67, 83, 0.3);
}

.forecast-icon,
.min-temperature,
.max-temperature {
  position: relative;
  top: -10px;
}
.min-temperature {
  color: #a1a7a9;
  font-size: 13px;
}
.max-temperature {
  color: #155263;
  font-size: 14px;
}

.footer {
  width: 700px;
}
